<!--https://getbootstrap.com/docs/5.0/getting-started/introduction/-->
{% load static %}
<!--<!doctype html>-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Twitter clone</title>
  </head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><strong>TWITTERCLONE</strong></a>
    <a href="/" class="btn btn-secondary active" role="button" data-bs-toggle="button">Home</a>
<!--    <a class="navbar-brand" type="button" href="/">Home</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/createtweet/" class="btn btn-danger active" role="button" data-bs-toggle="button">Tweets!!!</a>
<!--          <a class="nav-link active" aria-current="page" href="#">Tweets!!!</a>-->
        </li>
        <li class="nav-item">
          <a href="/notifications/" class="btn btn-success active" role="button" data-bs-toggle="button">Notifications</a>
<!--          <a class="nav-link active" href="/notifications/">Notifications</a>-->
        </li>
        <li class="nav-item">
          <a href="/profile/" class="btn btn-warning active" role="button" data-bs-toggle="button">My Profile</a>
<!--          <a class="nav-link active" href="/profile/">My Profile</a>-->
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/logout/">Log out</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<body style="background-image: url('{% static 'orangebird.png' %}'); background-repeat: no-repeat; background-position: right top;
}">

    <div class="container">
        <h3>@{{ current_user.username }}</h3>
      <h3>Tweets: {{ user_tweets|length }}</h3>
    <h3>Following: {{ users_following|length }}</h3>

<!--        April got this working. or not-->
        <a href="/follow/{{current_user.id}}">Follow</a>
        <a href="/unfollow/{{current_user.id}}">Unfollow</a>

    </div>
    <br />
    <br />
    <ul>
       {% for t in user_tweets %}
       <li><a href="/user/{{t.tweeter}}">@{{ t.tweeter }}</a> <a href="/tweet/{{t.id}}">{{ t.created_at }}</a><br />
                 {{ t.text }} </li>
        {% endfor %}

   </ul>


</body>